.zheng-card {
  border-radius: var(--zheng-border-radius-base);
  border: var(--zheng-border);
  background-color: (--zheng-bg-color);
  overflow: hidden;
  color: var(--zheng-text-color-primary);

  // 始终显示阴影
  &.shadow-always {
    box-shadow: var(--zheng-box-shadow-light);
  }

  // 鼠标悬浮时显示阴影
  &.shadow-hover:hover {
    box-shadow: var(--zheng-box-shadow-light);
    transition: box-shadow 0.3s;
  }

  // 卡片头部
  &__header {
    padding: 18px 20px;
    border-bottom: 1px solid var(--zheng-border-color);
    box-sizing: border-box;
  }

  // 卡片主体
  &__body {
    padding: 20px;
  }

  // 卡片底部
  &__footer {
    padding: 18px 20px;
    border-top: 1px solid var(--zheng-border-color);
    box-sizing: border-box;
  }
}
