/* 本文件主要用于定义全局样式变量，如颜色、字体等。
参考：https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/common/var.scss#L118 */

// 主题色（和element一致）
$types: (
  primary: #409eff,
  success: #67c23a,
  warning: #e6a23c,
  danger: #f56c6c,
  info: #909399
);

// 选择文档的根元素 (HTML 中的 <html>) 定义一些全局的css变量
:root {
  // 主体色
  @each $type, $value in $types {
    --zheng-color-#{$type}: #{$value}; // 生成主题色变量
    --zheng-color-#{$type}-dark-2: #{mix($value, #000, 20%)}; // 暗色 主题色变量

    @for $i from 1 through 9 {
      --zheng-color-#{$type}-light-#{$i}: #{mix($value, #fff, $i * 10%)}; // 亮色 主题色变量
    }
  }

  // text（文本）
  --zheng-text-color-primary: #303133;
  --zheng-text-color-regular: #606266;
  --zheng-text-color-secondary: #909399;
  --zheng-text-color-placeholder: #a8abb2;
  --zheng-text-color-disabled: #c0c4cc;
  // border（边框）
  --zheng-border-color: #dcdfe6;
  --zheng-border-color-light: #e4e7ed;
  --zheng-border-color-lighter: #ebeef5;
  --zheng-border-color-extra-light: #f2f6fc;
  --zheng-border-color-dark: #d4d7de;
  --zheng-border-color-darker: #cdd0d6;
  // fill（填充）
  --zheng-fill-color: #f0f2f5;
  --zheng-fill-color-light: #f5f7fa;
  --zheng-fill-color-lighter: #fafafa;
  --zheng-fill-color-extra-light: #fafcff;
  --zheng-fill-color-dark: #ebedf0;
  --zheng-fill-color-darker: #e6e8eb;
  --zheng-fill-color-blank: #ffffff;
  // background（背景）
  --zheng-bg-color: #ffffff;
  --zheng-bg-color-page: #f2f3f5;
  --zheng-bg-color-overlay: #ffffff;

  // border(边框)相关
  --zheng-border-width: 1px;
  --zheng-border-style: solid;
  --zheng-border: var(--zheng-border-width) var(--zheng-border-style) var(--zheng-border-color);
  --zheng-border-color-hover: var(--zheng-text-color-disabled);
  --zheng-border-radius-base: 4px;
  --zheng-border-radius-small: 2px;
  --zheng-border-radius-round: 20px;
  --zheng-border-radius-circle: 100%;

  // font(字体)相关
  --zheng-font-family: "'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif";
  --zheng-font-size-extra-large: 20px;
  --zheng-font-size-large: 18px;
  --zheng-font-size-medium: 16px;
  --zheng-font-size-base: 14px;
  --zheng-font-size-small: 13px;
  --zheng-font-size-extra-small: 12px;

  // disabled相关
  --zheng-disabled-bg-color: var(--zheng-fill-color-light);
  --zheng-disabled-text-color: var(--zheng-text-color-placeholder);
  --zheng-disabled-border-color: var(--zheng-border-color-light);

  // box-shadow相关
  --zheng-box-shadow-base: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --zheng-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --zheng-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12),
    0px 8px 16px -8px rgba(0, 0, 0, 0.16);
}
